body{
    max-width: 100%; max-height: 100%;height: 800px;width: 100%;margin-left: -.1px;
    background: #f1511f ;    
}

::-webkit-selection{
  color:#f55;font-weight:bolder;background:rgba(0,0,0,.5);
}::-moz-selection{
  color:#f55;font-weight:bolder;background:rgba(0,0,0,.5);
}::selection{
color:#000;font-weight:bolder;background:rgba(0,255,0,.99);}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}
/*  Resonsive  */
header.header{
    display: flex;
    background: rgb(66,6,44);
    width: 100%;
    max-height: 90px;
    position: fixed;
    top: 0;
    box-shadow: 0 7px 19px rgba(0,0,0,.5);
}header>div,#wide{
    height: auto;margin-top: 12px;margin-right: 18px;
   flex: 1;width: auto;
   flex-basis: auto;
}#wide>button:first-child{
  margin-left: 5px;margin-right: 5px;
}
#small{
    height: auto;margin-top: 12px;margin-right:-22px;
   flex: 1;width: auto;
   flex-basis: auto;
}
#menu{
    display: none;
}
#menu>img:hover,
#menu>img:focus {
   width:55px;
   cursor: pointer;
   transition: .5s;
}
#menu>img:active,#menu>img:active{
    border-right: 2px solid #0680ff;
}
.navbar{
    max-width: 50%;
   width: auto;
   animation: nav 3s ease;
   display: block;
   transform: translate(350px,0);
   background: rgba(66,6,44,.8);
   position: fixed;
   padding: 20px;
   top: 3.2pc;
   right: -0pc;
   bottom: 0;
   box-shadow: -8px 8px 15px rgba(0,0,0,.2);
   /*transform: translateX(-400,0);*/
   transition:  .3s;
}
@keyframes nav{
    from{
        right: -100px;
        top:-250px;
    }
    to{
        right: 0px;
        top:2.9pc;
    }
}
.navbar>input,.navbar>button{
   display: block;
   border-radius: 10px !important;
   font-size: 9pt;
   max-width: 80%;width: 100% !important;
}
.hideNav{
    transform: translate(0,0) !important;
}
footer.footer{
    display: flex;
    background: rgb(66,6,44);
    width: 100%;
    max-height: 140px;height: 90px;
    position: relative;
    bottom: 0;
    box-shadow: 0 7px 19px #000;
}h1,footer>div {
    vertical-align: top;
    flex: 5;
    zoom: 1; /* Fix for IE7 */
    text-align:center;
    color:rgba(280,267,231,.7);
    font-family:"Tangerine";
    text-shadow: 0.09em 0.1em 0.06em rgba(0,0,0,.4);
    font-size:36pt;

}
footer>div>button{
    height: 35px;
    width: auto;
    margin-right: -105px;
    flex: 1;   
}

/*  Resonsive */
section.section{
    max-width: 100%;
    width: 100%;
    max-height: auto; 
    margin-top: 120px;   
}
main.main{
    display: flex;
    justify-content: center;

}
main div.box{
    flex: 1;
    max-width: 900px;width: 400px;height: auto;
    box-shadow: -8px 18px 20px rgba(0,0,0,.3);
    background: linear-gradient(45deg, rgba(29, 224, 153, 0.1), rgba(29, 200, 205, 0.1));
    padding: 12px 12px;

}/*Display a margin at the bottom of all btns ... \make sure it only aplies in our form*/
form>div button:last-child{
    /*edit for your prefered ~btn bottom space of all button within div*/
    margin-bottom: 50px;
}
input.input{
    color:#444;
    background-color:#fff;
    outline:none;
    border:azure;  
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    border-radius: 10px 2px 2px 10px;      
    width:50%;  
    padding: 8px 8px;
    margin: 7px 0;
    transition:0.4s;
}input.input-from-left{
    color:#444;
    background-color:#fff;
    outline:none;
    border:azure; 
    border-radius: 2px 10px 10px 2px;      
    width:50%;  
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    padding: 8px 8px;
    margin: 7px 0;
    transition:0.4s;
}
input.input-panel{
    color:#444;
    background-color:#fff;
    outline:none;
    border:azure; 
    border-radius: 10px 2px 2px 10px;      
    width:70%; 
    box-shadow: 0 3px 5px rgba(0,0,0,.2); 
    padding: 8px 8px;
    margin: 7px 0;
    transition:0.4s;
}
input.input-sm{
    color:#444;
    background-color:#fff;
    outline:none;
    border:azure; 
    border-radius: 10px;      
    width:10%; 
    box-shadow: 0 3px 5px rgba(0,0,0,.2); 
    padding: 8px 8px;
    margin: 7px 0;
    transition:0.4s;
}

input.input-block{
    
    display: block;
    color: #444;
    background-color: #fff;
    outline: none;
    border: azure;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    padding: 8px 0px 8px 0px;
    margin: 7px 0;
    transition: 0.4s;
}

button.brn-classic{
    background-color:rgb(255, 255, 255);   
    padding: 8px 19px;
    font-weight: 500;
    cursor: pointer;
    border: azure;
    border-radius: 2px 10px 10px 2px;
    box-shadow:-3px 0 1px rgba(0,0,0,.2);
    outline:none;  
     transition: .25s;
}
button.brn-sm{
    color:#000;
    background-color:#fff;
    outline:none;
    border:azure; 
    border-radius: 10px 2px 2px 10px;      
    width:10%; 
    box-shadow: 0 3px 5px rgba(0,0,0,.2); 
    padding: 8px 8px;
    margin: 7px 0;
    transition:0.4s;
}

button.brn-classic-sm{
    background-color:rgb(255, 255, 255);   
    padding: 8px 19px;
    font-weight: 500;
    cursor: pointer;
    border: azure;
    border-radius: 2px 10px 10px 2px;
    box-shadow:-3px 0 1px rgba(0,0,0,.2);
    outline:none;  
     transition: .25s;
}
button.brn-from-left{
    background-color:rgb(255, 255, 255);    
    box-shadow: 3px 0 5px rgba(0,0,0,.2);
    margin-left:2px;   
    padding: 8px 19px;
    font-weight: 500;
    cursor: pointer;
    border: azure;
    border-radius: 10px 2px 2px 10px;
    outline: none;
     transition: .25s;
}
button.brn-classic-lg{
    background-color:rgb(255, 255, 255);   
    padding: 8px 19px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    border: azure;
    border-radius: 10px;
    box-shadow:-3px 0 1px rgba(0,0,0,.2);
    outline:none;  
    transition: .25s;
}button.brn-fav{
    background-color: rgb(15, 138, 193);
    padding: 8px 19px;
    border-radius: 2px 10px 10px 2px;
    font-weight: 500;
    cursor: pointer;
    border: azure;
    box-shadow: -3px 0 1px rgba(0,0,0,.2);
    outline: none;
       
}button.brn-fav-sm{
    background-color: rgb(15, 138, 193);
    padding: 8px 19px;
    border-radius: 2px 10px 10px 2px;
    font-weight: 500;
    cursor: pointer;
    border: azure;
    box-shadow: -3px 0 1px rgba(0,0,0,.2);
    outline: none;
       
}button.brn-fav-lg{
    display: block;
    width: 100%;
    background-color: rgb(15, 138, 193);
    padding: 8px 19px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    border: azure;
    box-shadow: -3px 0 1px rgba(0,0,0,.2);
    outline: none;
       
}button.brn-default{
    background-color:rgb(255, 255, 255);   
    padding: 8px 19px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgba(234, 237, 239, 0.29);
    border-radius: 2px 10px 10px 2px;
    box-shadow:-3px 0 1px rgba(0,0,0,.2);
    outline:none;
    transition: .25s;
}
 .brn-lg{
   font-size: 18pt;
 }
/* Just for butifying the heading */

.accord {
    color:#444;
    background-color:#eee;
    outline:none;
    border: 0 ;  
    margin-bottom: 4px;
    height:50px;
    width:100%;
    cursor:pointer;
    padding: 15px 1px;
    transition:0.4s;
}

/* Designing the btns on ::all */

button:hover:not(.accord),button:focus{
    box-shadow:-3px 0 1px rgba(0,0,0,.2), 0 3px 19px rgba(0,0,0,.3) inset; 
    border:0;
    transition: .35s;
}
button:active{
    border-bottom: 1px solid transparent;
    transition: .35s;
}
input:hover, .input:hover,button.brn-fav:hover,button.brn-classic:hover {
    background-color:#ddd; 
    transition: .35s;
}
.accord:hover{
 background-color:#ddd; 
 margin-bottom: 12px;
    transition: .35s;
}

/* Change the background color of the accordion when it is clicked */

#panel {
    display:none;  
}
#panel1 {
    display:none;
}
#panel2 {
    display:none;
}

/* This is for making the content invisible when the accordion is not active */

#flap {
    position:relative;
    top:-43px;
    left:90%;
    font-size:18pt;
}

#flap1 {
    position:relative;
    left:90%;
    top:-43px;
    font-size:18pt;
}
/* Curcor for dblclick*/
.curcor{
    cursor: text;
}
/* Positioning the arrow */

p {
    padding-left:5%;
    font-family:"Ubuntu";
    color:#fff;
    padding-right:5%;
    border:solid;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:4px;
    border-right-width:4px;
    border-color:rgb(50,200,30);
}
a{
    text-decoration: none;
    color: #f52;
    text-underline-position: center;
    transition: .35s;
    margin-right: 15px;margin-left: 15px;
}a:hover{
    text-decoration: none;
    color: #f52;opacity: .5;
    text-underline-position: center;
    transition: .35s;
}
@media screen and (min-width: 358px) {

#menu{
    display: inline-block;
}
    #wide,  footer>div>button{
    display: none;
}section.section>main>div>form>div.Math>input{
    width: 150px;
    }footer.footer,header.header{
          font-size: 2pt;
          height: 52px;
}header.header>h1{
          font-size: 22pt;margin-top: -.24px;
}  footer>div{
          font-size: 22pt;
}  
}
@media screen and (min-width: 420px){
#menu{
    display: inline-block;
}
    #wide,  footer>div>button{
    display: none;
}section.section>main>div>form>div.Math>input{
    width: 750px;
    }
}
@media screen and (min-width: 390px){
#menu{
    display: inline-block;
}
    #wide,  footer>div>button{
       display: none;
} 
     footer>div{
          font-size: 22pt;
}  
     section.section>main>div>form>div.Math>input{
         width: 125px;
    }
}
@media screen and (min-width: 1024px){
#menu{
    display: none;
}
          #wide,  footer>div>button{
            display: inline-block;
}  #wide{
    height: 15px;margin-top: 2px;margin-right: 15px;
   flex: 1;
   flex-basis: auto;
}
   
          section.section>main>div>form>div.Math>input:nth-child(1){
                width: 550px;
        }
}